doctype html
html(lang="en" class="antialiased")
  head
    title cffd.ink // Derek Rush
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="description" content="")
    meta(name="author" content="Derek Rush")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js")
    link(rel="stylesheet" type="text/css" href="/index.css")
  body(class="font-source-sans")
    div#root
    script(type="text/javascript" src="/index_bundle.js")
